@inherits LayoutComponentBase
<RadzenNotification @rendermode="@RenderMode.InteractiveServer" />
<RadzenDialog @rendermode="@RenderMode.InteractiveServer" />
<RadzenContextMenu @rendermode="@RenderMode.InteractiveServer" />
<RadzenTooltip @rendermode="@RenderMode.InteractiveServer" />



<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body'">
    @* <NavMenu/> *@
    <RadzenBody >
        <div class="rz-p-4 h-100 w-100">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

